* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 100%;
  height: 100%;
  background-color: rgb(2, 8, 23);
}

.phone_main {
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  .phone_card {
    width: 295px;
    height: 600px;
    background-repeat: no-repeat;
    background-size: contain;
    background-image: url("../img/iphone1.png");
  }
  .phone_card1 {
    width: 295px;
    height: 600px;
    background-repeat: no-repeat;
    background-size: contain;
    background-image: url("../img/besFon.png");
    position: absolute;
    z-index: -1;
    opacity: 0;
    .phone_card1_item {
      width: 90.5%;
      height: 96%;
      margin-left: 15px;
      margin-top: 12px;
      background-color: rgba(0, 0, 0, 0.728);
      border-radius: 20px;
      display: flex;
      align-items: center;
      justify-content: center;
      position: relative;
      .phone_card1_item_root {
        display: flex;
        width: 100%;
        height: 50px;
        position: absolute;
        top: 30%;
        align-items: center;
        justify-content: space-evenly;

        p {
          font-size: 35px;
          transition: 0.3s;
          cursor: pointer;
        }

        p:hover {
          opacity: 0.8;
        }
      }
      p {
        font-size: 45px;
        font-family: sans-serif;
        color: white;
        text-align: center;
      }
      span {
        position: absolute;
        top: 80px;
        color: rgb(255, 255, 255);
        left: 20px;
        cursor: pointer;
        font-family: sans-serif;
      }
      .time1 {
        top: 15px;
        left: 25px;
        font-size: 12px;
        opacity: 0.5;
      }
    }
    .phone_card1_item1 {
      width: 90.5%;
      height: 96%;
      margin-left: 15px;
      margin-top: 12px;
      background-color: rgba(0, 0, 0, 0.728);
      border-radius: 20px;
      display: flex;
      align-items: center;
      justify-content: center;
      position: relative;
      display: none;
      .phone_card1_item_root {
        display: flex;
        width: 100%;
        height: 50px;
        position: absolute;
        top: 30%;
        align-items: center;
        justify-content: space-evenly;

        p {
          font-size: 35px;
          transition: 0.3s;
          cursor: pointer;
        }
        p:hover {
          opacity: 0.8;
        }
      }
      .tymer_clock {
        width: 100%;
        height: 150px;
        margin-top: 90px;
        .tymer_min {
          margin: 0 auto;
          width: 75%;
          height: 60px;
          margin-bottom: 20px;
          display: flex;
          justify-content: space-evenly;
          padding-left: 10px;
          div {
            height: 100%;
            width: 45%;
            label {
              color: white;
              font-family: sans-serif;
              padding-left: 10px;
              margin-bottom: 5px;
              display: block;
            }
            input {
              width: 80%;
              height: 70%;
              font-size: 20px;
              display: block;
              padding-left: 20px;
              padding-right: 20px;
              outline: none;
              border-radius: 8px;
              border: none;
              background-color: rgba(0, 0, 0, 0.315);
              color: white;
            }
            input[type="number"]::-webkit-outer-spin-button,
            input[type="number"]::-webkit-inner-spin-button {
              -webkit-appearance: none;
            }
          }
        }
        .tymer_btns {
          width: 100%;
          height: auto;
          display: flex;
          align-items: center;
          height: 80px;
          justify-content: space-evenly;
          .stop {
            width: 65px;
            height: 65px;
            background-color: rgb(28, 28, 31);
            border-radius: 50%;
            outline: none;
            border: none;
            font-family: sans-serif;
            font-size: 16px;
            cursor: pointer;
            color: rgb(94, 94, 99);
          }
          .start {
            width: 65px;
            height: 65px;
            background-color: rgb(9, 41, 17);
            border-radius: 50%;
            outline: none;
            border: none;
            font-family: sans-serif;
            font-size: 16px;
            cursor: pointer;
            color: rgb(43, 186, 79);
          }
        }
      }
      p {
        font-family: sans-serif;
        color: white;
      }
      span {
        position: absolute;
        top: 80px;
        color: rgb(255, 255, 255);
        left: 20px;
        cursor: pointer;
        font-family: sans-serif;
      }
      .time2 {
        top: 15px;
        left: 25px;
        font-size: 12px;
        opacity: 0.5;
      }
    }
    .phone_card1_item2 {
      width: 90.5%;
      height: 96%;
      margin-left: 15px;
      margin-top: 12px;
      background-color: rgba(0, 0, 0, 0.728);
      border-radius: 20px;
      display: flex;
      align-items: center;
      justify-content: center;
      position: relative;
      display: none;
      .phone_card1_item_root {
        display: flex;
        width: 100%;
        height: 50px;
        position: absolute;
        top: 30%;
        align-items: center;
        justify-content: space-evenly;

        p {
          font-size: 35px;
          transition: 0.3s;
          cursor: pointer;
        }
        p:hover {
          opacity: 0.8;
        }
      }
      .tymer_clock {
        width: 100%;
        height: 150px;
        margin-top: 90px;
        .budinlik {
          width: 100%;
          height: 50px;
          margin-bottom: 30px;
          input {
            width: 60%;
            height: 100%;
            display: block;
            margin: 0 auto;
            font-size: 17px;
            padding-right: 20px;
            padding-left: 20px;
            border: none;
            outline: none;
            border-radius: 8px;
            background-color: rgba(0, 0, 0, 0.368);
            color: white;
          }
        }
        .tymer_btns {
          width: 100%;
          height: auto;
          display: flex;
          align-items: center;
          height: 80px;
          justify-content: space-evenly;
          .stop1 {
            width: 65px;
            height: 65px;
            background-color: rgb(28, 28, 31);
            border-radius: 50%;
            outline: none;
            border: none;
            font-family: sans-serif;
            font-size: 16px;
            cursor: pointer;
            color: rgb(94, 94, 99);
          }
          .start1 {
            width: 65px;
            height: 65px;
            background-color: rgb(9, 41, 17);
            border-radius: 50%;
            outline: none;
            border: none;
            font-family: sans-serif;
            font-size: 16px;
            cursor: pointer;
            color: rgb(43, 186, 79);
          }
        }
      }
      p {
        font-family: sans-serif;
        color: white;
      }
      span {
        position: absolute;
        top: 80px;
        color: rgb(255, 255, 255);
        left: 20px;
        cursor: pointer;
        font-family: sans-serif;
      }
      .time3 {
        top: 15px;
        left: 25px;
        font-size: 12px;
        opacity: 0.5;
      }
    }
  }
  .phone_card1.active {
    z-index: 1;
    opacity: 1;
  }
}
.time {
  display: inline-block;
  font-family: sans-serif;
  color: white;
  font-size: 12px;
  margin: 25px 0 0 50px;
}
img {
  cursor: pointer;
}
.apps {
  width: 76%;
  height: 80px;
  margin: 0 auto;
  margin-top: 340px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  .kril,
  .conva {
    border-radius: 10px;
    width: 40px;
    height: 40px;
  }
  .calendar {
    width: 40px;
    height: 40px;
  }
  .clock {
    width: 40px;
    height: 40px;
  }
}
